<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configurações de conexão com o Banco de Dados -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/sisvendas</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Pool de conexões -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamento do contexto das sessões -->
        <property name="current_session_context_class">thread</property>

        <!-- Cache de Segundo nível  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Mostra as SQLs geradas -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas do banco de dados -->
        <property name="hbm2ddl.auto">create</property>

		<!-- Mapeamento -->
		<mapping class= "br.com.sisvendas.domain.Estado"/> 
		<mapping class= "br.com.sisvendas.domain.Cidade"/>
		<mapping class= "br.com.sisvendas.domain.Fabricante"/>  
		<mapping class= "br.com.sisvendas.domain.Produto"/> 
		<mapping class= "br.com.sisvendas.domain.Pessoa"/> 
		<mapping class= "br.com.sisvendas.domain.Cliente"/>
		<mapping class= "br.com.sisvendas.domain.Funcionario"/>
		<mapping class= "br.com.sisvendas.domain.Usuario"/>
		<mapping class= "br.com.sisvendas.domain.Venda"/>
		<mapping class= "br.com.sisvendas.domain.ItemVenda"/>
<!--         <mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/> -->

    </session-factory>

</hibernate-configuration>